* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

$main-color: #009beb;
$icon-size: 20px;
$basic-size: 5px;
$border-radius: $basic-size / 2;

.hidden {
  display: none;
}
.m-l-15 {
  margin-left: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.text-right {
  text-align: right;
}


.btn {
  background: $main-color;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.icon-arrow:after {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #fff;
  margin-left: 10px;
}

.selector {
  display: inline-block;
  position: relative;

  &:hover {
    .icon-arrow:after {
      border-left-color: transparent;
      border-top-color: #fff;
      transform: translateY(2px);
    }
    .selector__options {
      display: block;
    }
  }
  .selector__btn {
    width: 150px;
  }
  .selector__options {
    display: none;
    box-shadow: 0 0 10px #ccc;
    white-space: nowrap;
    color: #666;
    padding-top: 5px;

    & > li {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
    .disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.git {
  border-top: 5px solid $main-color;
  position: relative;
  .git__logo {
    position: absolute;
    z-index: 3;
    width: 30px;
    right: 10px;
    top: 10px;
    height: 30px;
    display: inline-block;
    background: url(http://p18uhw04f.bkt.clouddn.com/git/GitHub-Mark-Light-64px.png) no-repeat center;
    background-size: 25px;
    transform: rotate(45deg);
  }
  &:after {
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    border: 35px solid transparent;
    border-top-color: $main-color;
    border-right-color: $main-color;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}

.operation {
  height: 30px;
  .btn {
    vertical-align: top;
  }
}

.tree,
.tree-child-tree {
  position: relative;
  li {
    position: relative;
    margin-left: $icon-size/2;
    padding-left: $basic-size * 5;
    border-left: 1px solid $main-color;
    &:last-child {
      border: 0 none;
    }
  }
}
.tree {
  text-align: left;
  display: inline-block;
  margin-top: 30px;
}
.tree-child-tree {
  &:before {
    content: '';
    height: $basic-size * 3;
    border-left: 1px solid $main-color;
    display: block;
    margin-left: $icon-size/2;
    position: absolute;
    top: -$basic-size * 3;
  }
  li:first-child {
    margin-top: $basic-size;
  }
  li:before {
    content: '';
    position: absolute;
    width: $basic-size * 5;
    height: $basic-size/2;
    margin-top: $basic-size/2;
    border-bottom: 1px solid #009beb;
    border-left: 1px solid #009beb;
    left: 0;
    top: $basic-size + $icon-size/2;
    display: block;
    border-bottom-left-radius: $border-radius;
  }
  li:last-child:before {
    top: 0;
    height: $basic-size*2 + $icon-size/2;
    border-left: 1px solid #009beb;
    margin-top: 0;
    border-bottom-left-radius: $border-radius * 2;
  }
}

.tree-node {
  padding: $basic-size * 2 0;
  display: inline-block;
  line-height: $icon-size;
  position: relative;
  bottom: -2px;
  cursor: pointer;
}
.tree-switcher:before {
  content: '';
  width: $icon-size;
  border-radius: $icon-size;
  background: $main-color;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: $icon-size;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  top: -2px;
}
.tree-switcher_open:before {
  content: '+';
}
.tree-switcher_close:before {
  content: '-';
}
